.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
}

.header__logo {
  width: 183px;
  height: 32px;
}

.header__logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 5;
}

.header__title {
  padding-left: 64px;
  width: 730px;
  margin: auto 0;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  position: relative;
  z-index: 4;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 3;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.header__link {
  color:#2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto 0;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.two-columns__paragraph:nth-child(2) {
  margin: 30px auto;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 0;
}

.section-title {
  width: 60%;
  padding-bottom: 20px;
  text-align: center;
}

.section-title_theme_light {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  text-align: center;
}

.section-subtitle_theme_light {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  z-index: 100;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}

.table__text:nth-child(1n) {
  padding-top: 20px;
  }

.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 0;
  width: auto;
  height: 890px;
  background: url(./../images/feynman.png) 867px 637px no-repeat;
  background-color: #f2f2f2;
  background-position: bottom left;
  position: relative;
}

.feynman__title {
  width: 648px;
  padding-top: 100px;
  padding-bottom: 70px;
  text-align: center;
}

.feynman__title_text_style {
  margin: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  text-align: center;
}

.feynman__subtitle_text_style {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  color:#2f80ed;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__picture {
  align-self: flex-start;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 90px 0;
  background-color: #1f1f1f;
  color: #f2f2f2;
  position: relative;
  overflow: hidden;
}

.table__cell_theme_dark {
  width: 200px;
  padding-top: 80px;
}

.table__heading_theme_dark {
  margin: 0;
}

.table__text_theme_dark {
  margin: 0;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
  width: 877px;
  height: 877px;
}

.footer {
  /* min-height: 350px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 60px 0 40px 0;
  background-color: #1f1f1f;
  color: #f2f2f2;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  position: relative;
}

.logo_place_header {
  background: url(./../images/logo_place_footer.svg);
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 0;
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin: 0;
  padding: 20px 0 16px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
}

.footer__column-link {
  text-decoration: none;
  color: #f2f2f2;
}

.footer__social-icon {
  padding-right: 10px;
  width: 16px;
  height: 16px;
}
